.header{
  height: 70px;
  width: 1500px;
  background-color: green;
}

.h1{
  float: left;
}

.list{
  float: left;
  margin-left: 10px;
  padding-top: 20px
}

ul{
  margin-left: 50px;
  list-style: none;
  align-items: flex-end;
}

body{
  background-color: lightgreen;
}
